* {
  margin: 0;
  padding: 0;
}

.main-conatiner {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header header header header header header"
    "table table table table table table details details";
}

header-view {
  grid-area: header;
  background-color: whitesmoke;
}

table-view {
  grid-area: table;
}

details-view {
  grid-area: details;
}
