mat-icon {
  font-family: "Material Icons" !important;
}

.table-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.table-box {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 56px);
}

table {
  width: 100%;
  height: 100%;
}

th {
  font-size: var(--heading-text-size);
  background-color: white;
}

td:nth-child(odd){
  text-align: end;
  padding-right: 30px;
}

th:nth-child(odd){
  text-align: end;
  padding-right: 30px;
}

tr:hover {
  background-color: whitesmoke;
}

.sub-info-font {
  color: gray;
  font-size: var(--sub-heading-text-size);
}

.main-info-font {
  font-weight: bold;
  font-size: var(--heading-text-size);
}

mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 1px 0px 2px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 4px 0px 0px var(--primary-color);
}
